html{
    box-sizing: border-box;
}
*,
* ::before, 
* ::after{
    box-sizing: inherit;
}
main{
    width: 1200px;
    margin: 0 auto;
}
body{
    width: 900px;
    height: 1933px;
}
a{
    color:  #626262;
    text-decoration: none;
    font-family: PlayfairDisplay;
}
a:hover{
    color:  #03a9f4;
}

li{
    margin-left: 0 auto;
    font-family: PlayfairDisplay;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
header{
    width: 572px;
    margin: 0 auto;
    margin-top: 77px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 54px;  
}
nav ul li:first-child{
    margin-left: 0;
}
nav ul li:last-child{
    margin-left: 94px;
    margin-right: 0;
}
