html{
    box-sizing: border-box;
}
*,
* ::before, 
* ::after{
    box-sizing: inherit;
}
.head{
    margin-bottom: 70px;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 70px;
}

.link{
    padding: 28px 28px; 
    color:  #626262;
    text-decoration: none;
    display: block;
}

.link:hover,.link:focus{color:  #03a9f4;}

.navigate{
    margin: 0;
    padding: 0;
    /* padding-left: 150px; */
    text-align: center;
    font-size: 0;
}

.navigation{
    margin: 0;
    padding: 0;
}

.features-list{
font-size: 14px;
text-decoration: none;
text-transform: uppercase;
display: inline-block;
}

.features-list:nth-child(2n){
    margin-right: 0;
}

.features-list:nth-last-child(-n+2){
    margin-bottom: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding:0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content{
    margin: 0;
    padding: 0;
    font-size: 0;
}

.content-list-item{
    width: 420px;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 130px;
    font-size: 14px;
}

.content-list-item:nth-child(2n){
    margin-right: 0;
}

.content-list-item:nth-last-child(-n+2){
    margin-right: 30px;
    margin-bottom: 0;
}


.paragraph {
    font-family: Ubuntu;
    color:  #b4ad9e;
    width: 420px;
    margin: 0px;
    margin-bottom: 30px;
}

.image{
    margin-bottom: 30px;
    display: block;
}

.heading{
    margin: 0px;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    color:  #626262;
}

.button  {
    font-family: PlayfairDisplay;
    color:  #626262;
    font-size: 20px;
    font-weight: 400;
    width: 164px;
    height: 60px;
    background-color: #ffffff;
    border-style: solid; 
    border-width: 1px;
    border-color:  #626262;
    border-style: solid;
    width: 162px;
    height: 58px;
    cursor: -webkit-grab;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.button:hover :focus{
    color: #03a9f4;
}

