html{
    box-sizing: border-box;
}
*,
* ::before, 
* ::after{
    box-sizing: inherit;
}
body{
    width: 1200px;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 70px;
}

.link{
    padding-top: 100px;
    padding-left: 30px;
    margin: 0 auto; 
    color:  #626262;
    text-decoration: none;
    display: block;
}

.link:hover,.link:focus{color:  #03a9f4;}

.navigate{
    padding-left: 150px;
}

.navigation{
    margin: 0;
    padding: 0;
}

.features-list{
margin-right: 30px;
margin-bottom: 70px;
font-size: 14px;
text-decoration: none;
text-transform: uppercase;
display: inline-block;
}

.features-list:nth-child(2n){
    margin-right: 0;
}

.features-list:nth-last-child(-n+2){
    margin-bottom: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding:0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

p .left,p .right {
    font-family: Ubuntu;
    color:  #b4ad9e;
    width: 420px;
    margin-bottom: 0px;
}

p .left0,p .right0{
    margin-bottom: 0px;
    -webkit-margin-after: 0;
}

img .left, img .right{
    margin-bottom: 30px;
}

img .left{
    margin-right: 30px;
}

h3 .left, h3 .right{
    margin-bottom: 0px;
    font-family: 'Playfair Display', serif;
    color:  #626262;
}

