html{
    box-sizing: border-box;
}
*,
* ::before, 
* ::after{
    box-sizing: inherit;
}

.logo,
.products-title, 
.desc, 
.news,
.price {
    font-family: Roboto, sans-serif;
}
/* 
.navigate,
.subtitle
.btn {
    font-family: OpenSans, sans-serif;
} */

.container{
    width: 1140px;
    margin: 0 auto;
}

/*  LOGO  */
.header {
    padding-top: 26px;
    padding-bottom: 55px;
}

.logo{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color:  #555252;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    float: left;
}

.logo::first-letter {
    color:  #1abc9c;
    font-size: 30px;
    font-weight: 900;
    line-height: 32px;
}

/*  NAVIGATION  */

.navigation{
    color:  #0f0101;
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.nav {
    float: right;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.features-list {
    float: right;
    margin: 0;
    padding: 0;
    margin-top: 11px;
}

.features-item {
    float: left;
    margin: 0;
    margin-right: 16px;
    list-style-type: none;
    padding: 0;
    color: #0f0101;
}

.features-item:nth-last-child(1) {
    margin-right: 0;
}

.link{
    display: block;
    text-decoration: none;
    line-height: 11px;
    color: #0f0101;
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    font-family: OpenSans, sans-serif;
}

.link:hover{
    color: #1abc9c;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

/*
*
==
SLIDER
==
*
*/

.slider {
    position: relative;
    margin: auto;
    margin-bottom: 100px;
}

.slider-ctrl {
    background-color:  rgba(78, 198, 171, 0.65);
    width: 104px;
    height: 104px;
    border: none;
    position: absolute;
    z-index: 1;
}

.slider-ctrl:hover {
    background-color:  #1abc9c;
}

.slides {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slides img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.slides-item {
    position: relative;
}

.slides-descr {
    font-family: Roboto;
    position: absolute;
    text-transform: uppercase;
    color:  #ffffff;
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
    margin: 0;
    padding: 0;
    bottom: 50%;
    left: 16%;
}

.sub {
    font-family: Roboto;
    position: absolute;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
    top: 50%;
}

.prev {
    left: 0;
    transform: translateY(-50%);
    top: 50%;
}

.next {
    right: 0;
    transform: translateY(-50%);
    top: 50%;
}

/*
*
==
 MAIN
==
*
*/

.content {
    margin: auto;
}

.products{
    padding-bottom: 94px;
}

.desc, 
.products-title,
.price,
.news
{
    text-transform: uppercase;
}

.products-list li {
    display: block;
    position: relative;
    width: 255px;
    height: 322px;
    background: #e9f0fd;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0;
    float: left;
}

.products-list li:nth-last-child(-n+4) {
    margin-bottom: 0;
}

.products-list li:nth-child(4n+4) {
    margin-right: 0;
}

.products-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.products-list li:hover .desc {
    background-color: #1abc9c;
}

.products-title{
    text-align: center;
    margin: 0;
    margin-bottom: 60px;
    color:  #515151;
    font-size: 48px;
    font-weight: 900;
    line-height: 32px;
}

.products-title::after{
    content: "";
    display: block;
    width: 162px;
    height: 7px;
    margin: 0 auto;
    margin-top: 34px;
    background-color: #1abc9c;
    text-align: center;
}

.desc{
    position: absolute;
    width: 255px;
    height: 40px;
    top: 282px;
    bottom: 5px;
    padding: 10px;
    padding-left: 13px;
    margin: 0;
    background-color: #323232;
    color: #fff;
}

.price{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.44);
    color: #ffffff;
    width: 54px;
    height: 40px;
    margin:0;
    bottom: 0;
    right: 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
}

.card {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 56%;
    transform: translateY(50%);
    border-width: 10px;
    border-color:  #ffffff;
    border-style: solid;
    background-color:  #000000;
    width: 255px;
    height: 280px;
    color: rgb(115, 115, 115);
    opacity: 0;
}

.overlay:hover {
    opacity: 0.55;
}

.socialkey {
    border: none;
    margin-left: 3px;
    margin-bottom: 7px;
    padding: 0;
    height: 50px;
    border-style: solid;
    position: relative;
}

.socialkey:hover {
    background-color: #1abc9c;
}

.heart {
    position: absolute;
    left: 33px;
    top: 26%;
    border-width: 1px;
    border-color:  #ffffff;
    opacity: 0.85;
    background-color:rgb(115, 115, 115);
}

.shaffle {
    position: absolute;
    right: 89px;
    top: 26%;
    border-width: 1px;
    border-color:  #ffffff;
    opacity: 0.85;
    background-color:rgb(115, 115, 115);
}

.clock {
    position: absolute;
    right: 31px;
    top: 26%;
    border-width: 1px;
    border-color:  #ffffff;
    opacity: 0.85;
    background-color:rgb(115, 115, 115);
}

.cart {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    border-width: 1px;
    border-color:  #ffffff;
    background-color: #323232;
}

/*
*
FOOTER
*
*/

.footer {
    height: 87px;
    background-color: rgb(50, 50, 50);
    position: relative;
}

.paragraph {
    font-family: OpenSans;
    position: absolute;
    color:  #fefefe;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    top: 50%;
    transform: translateY(-50%);
    left: 33%;
    margin: 0;
    padding: 0;
}

.citelink {
    font-family: OpenSans;
    position: absolute;
    text-decoration: none;
    color:  #46bfa9;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    top: 50%;
    transform: translateY(-50%);
    left: calc(56% - 5px);
}


.clearfix::after {
    display: table;
    content: "";
    clear: both;
}